* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  font-family: var(--main-font);
  background-color: var(--dark-1);
}

:root {
  --dark-1: #0b090a;
  --dark-2: #161a1d;
  --dark-2-transparent: rgba(22, 26, 29, 0.5);
  --accent-1: #660708;
  --accent-2: #a4161a;
  --accent-3: #ba181b;
  --accent-4: #e5383b;
  --light-1: #b1a7a6;
  --light-2: #d3d3d3;
  --light-3: #f5f3f4;
  --light-4: #ffffff;
  --main-font: "Montserrat", sans-serif;
  --title-font: "Cardo", serif;
  --title-size: 21px;
  --text-size: 15px;
  --main-title-size: 45px;
}

header {
  width: 100%;
  display: flex;
  flex-direction: column-reverse;
  justify-content: center;
  padding: 0.5rem 5rem;
  background-color: var(--light-1);
  color: var(--accent-2);
}

header > h1 {
  font-family: var(--title-font);
  font-size: var(--title-size);
  text-align: center;
  font-size: var(--main-title-size);
  margin-bottom: 0;
}

#add-book {
  border: none;
  background-color: transparent;
  font-size: 45px;
  color: var(--light-3);
  cursor: pointer;
  width: 45px;
  align-self: center;
}

#add-book:hover {
  color: var(--accent-3);
}

.library-container {
  position: relative;
}

.input-modal {
  position: absolute;
  z-index: 1;
  top: -100px;
  left: 0;
  height: 114vh;
  width: 100vw;
  background-color: var(--dark-2-transparent);
  display: flex;
  align-items: center;
  justify-content: center;
}

.input-card {
  position: relative;
  background-color: var(--dark-1);
  color: var(--light-2);
  width: 33%;
  min-width: 300px;
  max-width: 500px;
  padding: 1rem;
  border-radius: 15px;
}

.input-close {
  background-color: transparent;
  color: var(--accent-3);
  border: none;
  cursor: pointer;
  font-size: 50px;
  position: absolute;
  top: -29px;
  right: -28px;
}

.book-input {
  display: flex;
  flex-direction: column;
}

.book-input > label {
  margin: 10px 0;
  font-weight: 700;
}

.book-input > input {
  padding: 5px;
  font-size: var(--text-size);
  color: var(--dark-1);
}

.submit-input {
  margin-top: 25px;
  padding: 0.6rem;
  width: 33%;
  min-width: 180px;
  align-self: center;
  border-radius: 30px;
  background-color: var(--accent-4);
  color: var(--light-4);
  font-size: var(--text-size);
  border: 1px solid var(--accent-4);
  cursor: pointer;
  transition: 0.05s ease;
}

.submit-input:hover {
  background-color: #660708;
  border-color: var(--accent-1);
}

.invisible {
  display: none;
}

.library-container {
  display: flex;
  flex-direction: column;
  padding: 1rem;
  align-items: center;
  gap: 1.5rem;
}

.book-card {
  padding: 1rem;
  background-color: var(--dark-2);
  width: 350px;
  color: var(--light-2);
  border-radius: 30px;
}

.card-row {
  margin-left: 20px;
  display: flex;
  gap: 0.5rem;
  align-items: center;
}

.bold-text {
  font-weight: bold;
  color: var(--accent-3);
}

/* The switch - the box around the slider */
.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

/* Hide default HTML checkbox */
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: var(--light-1);
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.slider:before {
  font-size: 13px;
  position: absolute;
  content: "No";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: var(--dark-1);
  -webkit-transition: 0.4s;
  transition: 0.4s;
  line-height: 1;
  text-align: center;
}

input:checked + .slider {
  background-color: var(--accent-4);
}

input:focus + .slider {
  box-shadow: 0 0 1px var(--accent-4);
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
  content: "Yes";
}

/* Media queries */

@media (min-width: 800px) {
  header {
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }

  header > h1 {
    margin-top: 0;
  }

  .library-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
  }
}
